.container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 80% auto;
}

.container2 {
    display: grid;
    grid-template-areas: 'c1 c1 c1' 'c2 c3 c4' 'c5 c6 c6';
}

.c1 {
    grid-area: c1;
}

.c2 {
    grid-area: c2;
}