body {
    background-color: #0D3604;
    padding: 20px;
    
}

header{
    background-color: #01497c;
    width: 350px;
}

h1{
    font-family: sans-serif;
    font-style: italic;
    color: #a50104;
    font-size: 32px;
}

img{
    margin: 25px;
}

table{
    background-color: #e2c51f;
    width: 600px;
}

p{
    color: white;
}

footer {
    background-color: #00916e;
    width: 160px;
}